* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container940 {
  max-width: 940px;
  margin: 0 auto;
}

/*TOP PART*/
.header {
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top {
  min-height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.top-info {
  padding: 115px 0 190px;
  background-image: url(img/top-back.svg);
  background-repeat: no-repeat;
  background-position: right 81px;
  background-size: 46%;
}

.top-info-heading {
  width: 510px;
  font-size: 64px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 32px;
}

.top-info-text {
  width: 425px;
  margin-bottom: 71px;
}

.top-button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  text-decoration: none;
  padding: 15px 50px;
  display: inline-block;
}

/*what we do*/
.what-we-do {
  margin-top: 64px;
}

.what-we-do__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0;
}

.what-we-do__block {
  width: 359px;
  padding: 44px 32px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.block-heading {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: #1F3F68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-link {
  padding-left: 24px;
}

/*PROJECT*/
.project-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.project-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project-item-margin {
  margin-right: 32px;
}

.project-text {
  width: 75%;
  margin: 32px auto 64px;
  text-align: center;
  color: #222222;
  opacity: 1;
}

.project-img {
  width: 100%;
  border-radius: 10px;
}

.project-item {
  position: relative;
}

.project-text-img {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project-text-small-img {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  text-align: left;
  top: 32px;
  left: 32px;
}

/*FOOTER*/
footer {
  background: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;
}

hr {
  opacity: 0.4;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 96px;
}

.footer-offer {
  width: 495px;
}

.footer-button {
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  opacity: 1;
  background: #5A98D0;
  text-decoration: none;
  padding: 15px 80px;
  display: inline-block;
}

.footer-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  width: 340px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.footer-text {
  color: #FFFFFF;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 64px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FFFFFF;
  opacity: 1;
}

.footer-contacts li {
  padding-left: 19px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  margin-right: 32px;
  margin-left: 19px;
}

.AllRights {
  color: #FFFFFF;
  opacity: 0.4;
  margin-top: 64px;
}

.heading {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.top-contactUs {
  height: 250px;
  background-image: url(img/ContactUs-top.svg);
  margin-top: 54px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactUs {
  width: 780px;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.04em;
}

.contactUs-heading {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.contactUs-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 57px auto 96px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 301px;
}

.contact-block {
  margin-bottom: 40px;
}

.contact-address {
  margin-top: 56px;
}

.contact-form-heading {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding-bottom: 24px;
}

.contact-form-list {
  list-style-type: none;
  list-style-position: inside;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li span {
  padding-right: 19px;
}

.contact-form-list li a {
  text-decoration: none;
  color: #1F3F68;
}

.form-action {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-action input {
  opacity: 0.4;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 72px;
}

textarea {
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
  height: 144px;
}

.button-form {
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 22px 45px;
  margin-top: 72px;
  border-width: 0;
}

.form-text {
  line-height: 30px;
  letter-spacing: 0.04em;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message {
  margin-bottom: 72px;
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  padding-left: 42px;
  padding-top: 21px;
}

:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  padding-left: 42px;
  padding-top: 21px;
}

::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  padding-left: 42px;
  padding-top: 21px;
}

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  padding-left: 42px;
  padding-top: 21px;
}

/*laptop*/
@media (max-width: 1024px) and (min-width: 666px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top-info {
    background-position: right 280px;
  }
  .what-we-do__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 127px;
  }
  .what-we-do__block {
    margin-bottom: 32px;
  }
  .what-we-do__block:last-child {
    margin-bottom: 0;
  }
  footer {
    margin-top: 109px;
    padding-top: 47px;
  }
  .footer-top {
    padding: 0 92px 64px;
  }
  .footer-button {
    padding: 2px 23px;
  }
  .footer-offer {
    width: 66%;
  }
  .footer-bottom {
    padding: 0 92px;
  }
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-contacts li {
    margin-bottom: 25px;
  }
  .footer-contacts li:last-child {
    margin-bottom: 0;
  }
}

/*mobile*/
@media (max-width: 667px) {
  .header {
    padding-top: 24px;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-height: 376px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .top-info {
    padding: 33px 0 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
  }
  .top-info-heading {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .top-info-text {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
  .top-button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 9px;
  }
  .heading {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }
  .what-we-do {
    margin-top: 48px;
  }
  .what-we-do__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .what-we-do__block {
    width: 100%;
    padding: 40px auto 21px 30px;
    margin-bottom: 32px;
  }
  .card-img {
    margin-bottom: 48px;
  }
  .project {
    margin-top: 32px;
  }
  .project-text {
    width: 100%;
    margin-bottom: 82px;
    text-align: center;
  }
  .project-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
  }
  .project-item-margin {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .project-img {
    width: 100%;
    border-radius: 10px;
  }
  .project-text-img {
    top: 16px;
    right: 16px;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
  }
  .project-text-small-img {
    top: 16px;
    left: 16px;
    font-size: 16px;
    line-height: 19px;
  }
  footer {
    padding-top: 18px;
    padding-bottom: 32px;
    margin-top: 64px;
  }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 41px;
  }
  .footer-offer {
    width: auto;
    padding-bottom: 40px;
  }
  .footer-button {
    padding: 3px 18px;
    font-size: 16px;
    line-height: 26px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-heading {
    width: 65%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
  }
  .footer-text {
    text-align: center;
    padding-top: 32px;
  }
  .footer-bottom {
    margin-top: 32px;
  }
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-contacts li {
    margin-bottom: 17px;
  }
  .AllRights {
    margin-top: 20px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */